/* root element is declare the global css variables */
@import "/styles/variables.css";

body{
    margin: 0px;
}
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 100%;
    margin: auto;
}

.navigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    
}

.navigation .nav-bar {
    font-weight: bold;
}

.navigation .link {
    color: white;
    text-decoration: none;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link-active {
    font-weight: bold;
}

.list-non-bullet {
    list-style: none;
    padding: 0rem 0.5rem;
}

.list-item-inline {
    display: inline;
    padding: 8px;
    margin: 1rem;
}

.section {
    padding: 2rem;
    margin: 1rem;
}


.bg-gray {
    background-color: var(--light-gray);
}

.bg-white{
    background-color: var(--white-default);
}


.side-nav-bar {
    margin: 0;
    padding: 0x;
    width: 15%;
    background-color: var(--light-gray);
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 7.25rem;
  }
  
  
.side-nav-bar a {
    display: block;
    color: var(--black-default);
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
  }

  .content {
    margin-left: 15%;
    padding: 1px 16px;
    height: 100%;
    margin-top: 7.25rem;
    max-width: 100%;
    overflow: auto;
    margin-bottom: 7%;
  }

  .footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 0.2rem;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 84.53%;
}

.footer .footer-heading {
    font-weight: bold;
    font-size: 1rem;
}

.footer .link {
    color: white;
}

.footer-list {
    padding-inline-start: 0px;
}

.icons{
    width: 2%;
}
